@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a:active {
  text-decoration: none;
  color: #000;
}